.main-header {
  background-color: mistyrose;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.nav-heading {
  display: flex
  justi;
}

.sub-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

a.link {
  color: white;
}