.main-header {
  background-color: mistyrose;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

nav {
  padding: 20px
}

.sub-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  padding: 10px 50px 10px 50px;
}

.favorites {
  display: flex;
  align-self: center;
}

h1 {
  margin: 10px;
}

input {
  margin: 5px;
}

.main-banner{
  width: 100%;
  height: 300px;
  box-sizing: inherit;
  object-fit: cover;
  
}